@keyframes rotation {
  100% {
      -webkit-transform: rotate(360deg);
      transform:rotate(360deg);
  }
}


.click-img {
  width: 25%;
  display: block;
  position: absolute;
  left: 30%;
  right: 30%;
  margin: 0 auto;
  top: 25%;
  transition: width 0.2s ease-in-out, top 0.2s ease-in-out;
  animation: rotation 10s linear infinite;
  border-radius: 500px;
}

.click-img:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.card-desc{
  min-height: 11vh;
}

.cinzel {
  font-family: 'Cinzel', serif;
  font-weight: bolder;

}

.big-space {
  min-height: 66vh;
  min-width: 70vh;
  background-image: url(https://media3.giphy.com/media/l2YOp5fNAFMp63B3a/giphy.gif);
}

.bg-image {
  background-color: whitesmoke;
}



/* CSS */
.button-37 {
  background-color: #13aa52;
  border: 1px solid #13aa52;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  outline: 0;
  padding: 10px 25px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-37:hover {
  box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
  transform: translateY(-2px);
}

@media (min-width: 768px) {
  .button-37 {
    padding: 10px 30px;
  }
}